<%= render(partial: "search") %>

<%= table_for(@destroyed_posts) do |t| %>
  <% t.column(:post_id, name: "ID", width: "5%") %>
  <% t.column("Destroyer", width: "20%") do |destroyed_post| %>
    <%= link_to_user(destroyed_post.destroyer) %>
    <p><%= compact_time(destroyed_post.created_at) %></p>
  <% end %>
  <% t.column("Uploader", width: "20%") do |destroyed_post| %>
    <% if destroyed_post.uploader.present? %>
      <%= link_to_user(destroyed_post.uploader) %>
      <p><%= compact_time(destroyed_post.upload_date) %></p>
    <% end %>
  <% end %>
  <% t.column(:md5, width: "20%") %>
  <% t.column(:reason) %>
<% end %>

<% content_for(:page_title) do %>
  Destroyed Posts
<% end %>

<%= numbered_paginator(@destroyed_posts) %>
