<%= custom_form_for(post, html: { id: "form" }) do |f| %>
  <%= hidden_field_tag :tags_query, params[:q] %>
  <%= hidden_field_tag :pool_id, params[:pool_id] %>
  <%= f.hidden_field(:old_tag_string, value: post.tag_string) %>
  <%= f.hidden_field(:old_parent_id, value: post.parent_id) %>
  <%= f.hidden_field(:old_source, value: post.source) %>
  <%= f.hidden_field(:old_rating, value: post.rating) %>

  <div class="input" id="tags-container">
    <div class="header">
      <%= f.label(:tag_string, "Tags") %>

      <span class="options">
        <i id="face"></i>
        <span class="count"></span>
        <a href="#"><i id="open-edit-dialog" class="fa-solid fa-up-down-left-right" title="detach" data-shortcut="shift+e"></i></a>
      </span>
    </div>

    <div id="tag-string-editor"></div>
  </div>

  <%= f.input(:rating, as: :button_select, collection: rating_collection.reverse) %>


  <%= f.input(:parent_id, as: :string, label: "Parent", input_html: { size: 5 }) %>
  <%= f.input(:source, as: :text, label: "Sources", input_html: { size: "60x5", spellcheck: false }) %>

  <div class="input">
    <%= f.input(:description, as: :dtext) %>
  </div>

  <% if can_use_attribute?(post, :thumbnail_frame) && @post.framecount.present? && @post.framecount > 0 %>
    <div class="input integer optional post_thumbnail_frame field_with_hint">
      <label class="integer optional" for="post_thumbnail_frame">Thumbnail Frame</label>
      <input class="numeric integer optional" type="number" step="1" value="<%= post.thumbnail_frame %>" name="post[thumbnail_frame]" id="post_thumbnail_frame"> <%= button_tag("Preview", type: "button", id: "preview-thumbnail-frame-button") %>
      <span class="hint">The frame number to use as thumbnail. Leave blank to use default.</span>
    </div>
    <div id="preview-thumbnail-frame">
    </div>
  <% end %>
  <% if can_use_attribute?(post, :bg_color) %>
    <%= f.input(:bg_color, label: "Background Color", input_html: { size: 6 }) %>
  <% end %>

  <% if can_use_any_attribute?(post, :hide_from_search_engines) %>
    <div class="input">
      <%= f.label(:blank, "Limits") %>
      <fieldset class="limits">
        <% if can_use_attribute?(post, :hide_from_search_engines) %>
          <%= f.input(:hide_from_search_engines, as: :boolean, label: "Hide from search engines") %>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <%= f.input(:edit_reason, label: "Edit Reason", input_html: { maxlength: 250, size: 40 }) %>
  <div class="edit-submit input">
    <%= f.button(:submit, "Submit") %>
  </div>
<% end %>
