<ul>
  <li class="vpad-05"><%= tag.a("+Favorite", "href": "#", "class": "button btn-success", "id": "add-to-favorites", "data-shortcut": "f", "style": ("display: none;" if @post.is_favorited?), "data-pid": @post.id) %></li>
  <li class="vpad-05"><%= tag.a("-Favorite", "href": "#", "class": "button btn-danger", "id": "remove-from-favorites", "data-shortcut": "shift+f", "style": ("display: none;" unless @post.is_favorited?), "data-pid": @post.id) %></li>
  <% if policy(post).update? %>
    <li><%= link_to("Edit", "#edit", id: "side-edit-link") %></li>
  <% end %>
  <li><%= link_to_if(post.visible?, "Download", post.file_url) %></li>

  <% if PostReplacementPolicy.new(CurrentUser.user, post).create? %>
    <li><%= link_to("Replace image", new_post_replacement_path(post_id: post.id), id: "replace-image") %></li>
  <% end %>
  <li><%= link_to("Reupload image", post.reupload_url, id: "reupload-image") %></li>
  <% if post.is_deleted? && policy(post).undelete? %>
    <li><%= tag.a("Undelete", "href": "#", "class": "undelete-post-link", "data-pid": post.id) %></li>
    <% if post.is_favorited? && post.parent_id && policy(post).move_favorites? %>
      <li><%= link_to("Move favorites", move_favorites_post_path(post)) %></li>
    <% end %>
  <% elsif policy(post).delete? %>
    <li><%= link_to("Delete", delete_post_path(post)) %></li>
  <% end %>

  <% if IqdbProxy.enabled? && policy(post).update_iqdb? %>
    <li><%= link_to("Update IQDB", update_iqdb_post_path(@post), method: :put) %></li>
  <% end %>
  <% if policy(post).expunge? %>
    <li><%= tag.a("Destroy", "href": "#", "id": "destroy-post-link", "data-pid": post.id) %></li>
  <% end %>
  <% if policy(post).regenerate_thumbnails? %>
    <li><%= tag.a("Regenerate Thumbnails", "href": "#", "id": "regenerate-image-samples-link", "data-pid": post.id) %></li>
  <% end %>
  <% if post.is_video? && policy(post).regenerate_videos? %>
    <li><%= tag.a("Regenerate Video Samples", "href": "#", "id": "regenerate-video-samples-link", "data-pid": post.id) %></li>
<% end %>
</ul>
