<%= render "search" %>

<h1>Changes</h1>

<% if FemboyFans.config.show_tag_scripting?(CurrentUser.user) %>
  <div>
    <div class="input">
      <label>Tag Script</label>
      <input id="update-tag-script" placeholder="tag script to apply here"/>
    </div>
  </div>
<% end %>

<% if @post_versions.empty? %>
  <%= render "posts/blank" %>
<% else %>
  <%= render "listing" %>
  <%= numbered_paginator(@post_versions) %>
<% end %>

<%= javascript_tag nonce: true do -%>
  $(".closebutton").on("click", function(e) {
    $(e.target.parentNode).hide();
  });
  $(".desc-show").on("click", function(e) {
    $(e.target).next().toggle();
  });
<% end -%>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Post Changes
<% end %>
