<h1>Tag: <%= link_to @tag.name, posts_path(tags: @tag.name), class: "tag-type-#{@tag.category}" %></h1>

<%= custom_form_for(@tag, policy: policy(@tag)) do |f| %>
  <%= f.input(:category, collection: TagCategory.for_select, include_blank: false) %>
  <%= f.input(:reason, as: :string) %>
  <%= f.button(:submit, "Submit") %>
<% end %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Tag - <%= @tag.name %>
<% end %>
