<section>
  <ul>
    <li><h1>Posts</h1></li>
    <%= li_link_to("Listing", posts_path) %>
    <%= li_link_to("Upload", new_upload_path) %>
    <%= li_link_to_if(policy(Upload).index?, "Upload Listing", uploads_path) %>
    <%= li_link_to("Similar Images Search", posts_iqdb_path) %>
  </ul>
  <ul>
    <li><h1>Post Events</h1></li>
    <%= li_link_to("Listing", post_events_path) %>
    <%= li_link_to("Tag Changes", post_versions_path) %>
    <%= li_link_to("Replacements", post_replacements_path) %>
  </ul>
  <ul>
    <li><h1>Tools</h1></li>
    <%= li_link_to("Source Code", FemboyFans.config.source_code_url) %>
    <%= li_link_to("Keyboard Shortcuts", keyboard_shortcuts_path) %>
    <%= li_link_to("Stats", stats_path) %>
  </ul>
</section>
<section>
  <ul>
    <li><h1>Tags</h1></li>
    <%= li_link_to("Listing", tags_path) %>
    <%= li_link_to("Aliases", tag_aliases_path) %>
    <%= li_link_to("Implications", tag_implications_path) %>
  </ul>
  <ul>
    <li><h1>Pools</h1></li>
    <%= li_link_to("Listing", gallery_pools_path) %>
    <%= li_link_to("Changes", pool_versions_path) %>
  </ul>
</section>
<section>
  <ul>
    <li><h1>Admin</h1></li>
    <%= li_link_to_if(policy(DestroyedPost).index?, "Destroyed Posts", admin_destroyed_posts_path) %></li>
    <%= li_link_to_if(policy(BulkUpdateRequestImporter).create?, "Bulk Update Request Import", new_admin_bulk_update_request_import_path) %>
    <%= li_link_to("Mod Actions", mod_actions_path) %>
  </ul>
</section>

<% content_for(:page_title) do %>
  Site Map
<% end %>
